*{
    margin: 0;
}
.footer{
    border-radius: 15vw;
    background-color: lightgray;
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}