@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700&display=swap');
*{
    margin: 0;
    --pastel-purple: rgb(213, 163, 255);
    font-family: 'Raleway', sans-serif;
}
#background{
    background-color: var(--pastel-purple);    
}
.footer{
    border-radius: 15vw;
    background-color: lightgray;
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}